.sports-categories-container {
  text-align: center;
  padding: 20px;
}

.sports-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}

.sport-section {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.team img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}
